<template>
    <div class="hello">
        <h1>What is CloudDrop?</h1>
        <p>CloudDrop was created to allow users to share their Dropbox file requests in a more secure way.</p>
        <h1 id="getting-started">Getting Started</h1>
        <p>Click on the step to see more details.</p>
        <ol class="getting-started">
            <li data-img="01.gif"><a href="javascript:void(0);" class="imageLink">Go to your Dropbox account, select "File requests" option and click on "Request files" button.</a></li>
            <li data-img="02.gif"><a href="javascript:void(0);" class="imageLink">Give your request a name.</a></li>
            <li data-img="03.gif"><a href="javascript:void(0);" class="imageLink">Select a destination folder for files.</a></li>
            <li data-img="04.gif"><a href="javascript:void(0);" class="imageLink">Copy generated link to CloudDrop.</a></li>
        </ol>

        <!-- Creates the bootstrap modal where the image will appear -->
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imagepreview" style="max-width: 1024px;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'about',
        mounted: function () {
            jQuery("a.imageLink").each(function () {
                jQuery(this).click(function () {
                    var link = location.protocol + "//" + location.host + "/static/images/getting_started/" + $(this).parent().data('img');
                    jQuery('#imagepreview').attr('src', link); // here asign the image to the modal when the user click the enlarge link
                    jQuery('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
                });
            });
        }
    }

</script>