<template>
    <div>
        <div class="loading row" v-if="loading">
            <div class="loader">Loading...</div>
        </div>
        <div class="password-request row" v-if="!loading">
            <div class="col-lg-12">
                <h2>Password is required to continue.</h2>
            </div>
        </div>
        <div class="row" v-if="!loading">
            <div class="col-lg-4 col-lg-push-4 form-group">
                <input type="password" class="form-control" id="passwrd" v-model="password" v-on:keyup.enter="getLink">
                <button class="btn btn-primary form-control" v-on:click="getLink">Submit</button>
                <span class="error" v-if="incorrect">{{ message }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'link',
  props: ['link'],
  created: function() {
      var self = this;
      dataService.checkLink(this.link).then(function(data) {
          if (data) {
            self.loading = false;
          } else {
            self.$router.push('/new/' + self.link);
          }
      }).catch(function (error) {
          console.error("An error occurred.");
          console.error(error);
      });
  },
  data: function() {
      return {
          loading: true,
          incorrect: false,
          password: "",
          message: "Entered password was incorrect."
      }
  },
  methods: {
      getLink: function (event) {
          event.preventDefault();
          var self = this;
          dataService.getDropboxUri(this.link, this.password).then(function (data) {
              location.href = data;
          }).catch(function (data) {
              self.incorrect = true;
              console.log(data);
          });
      }
  }
}
</script>