<template>
    <div>
        <div class="row" v-if="!isLoggedIn">
            <div class="col-lg-6 col-lg-push-3 form-group">
                <form>
                    <div class="form-group">
                        <label>Identifier</label>
                        <input type="text" class="form-control" v-model="identifier">
                    </div>
                    <div class="form-group">
                        <label>Management password</label>
                        <input type="password" class="form-control" v-model="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control" v-on:click="login" :disabled="loading">Login</button>
                        <span class="error" v-if="passwordInvalid">The provided data is not valid.</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" v-if="isLoggedIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Change Dropbox Link</h1>
                        <form>
                            <div class="form-group">
                                <label>New link</label>
                                <input type="text" class="form-control" v-model="newLink">
                            </div>
                            <div class="form-group">
                                <label>Confirm management password</label>
                                <input type="password" class="form-control" v-model="confirmDropboxLinkPassword">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary form-control" v-on:click="changeDropboxLink" :disabled="loading">Change link</button>
                                <span class="error" v-if="newLinkFail">The provided data is not valid.</span>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h1>Change link password</h1>
                        <form>
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" class="form-control" v-model="newPassword">
                            </div>
                            <div class="form-group">
                                <label>Repeat new password</label>
                                <input type="password" class="form-control" v-model="repeatNewPassword">
                                <span class="error" v-if="!doesPasswordsMatch">Passwords does not match.</span>
                            </div>
                            <div class="form-group">
                                <label>Confirm management password</label>
                                <input type="password" class="form-control" v-model="confirmPasswordChangePassword">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary form-control" v-on:click="changePassword" :disabled="loading">Change password</button>
                                <span class="error" v-if="newPasswordFail">The provided data is not valid.</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Remove link</h1>
                        <form>
                            <div class="form-group">
                                <label>Confirm management password</label>
                                <input type="password" class="form-control" v-model="confirmDeletionPassword">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary form-control" v-on:click="removeLink" :disabled="loading">Remove link</button>
                                <span class="error" v-if="removeLinkFail">The provided data is not valid.</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'manage',
        computed: {
            doesPasswordsMatch: function () {
                return this.password && this.newPassword == this.repeatNewPassword;
            }
        },
        data: function () {
            return {
                identifier: "",
                password: "",
                isLoggedIn: false,
                passwordInvalid: false,
                loading: false,
                newLink: "",
                confirmDropboxLinkPassword: "",
                newLinkFail: false,
                newPassword: "",
                repeatNewPassword: "",
                confirmPasswordChangePassword: "",
                newPasswordFail: false,
                confirmDeletionPassword: "",
                removeLinkFail: false
            }
        },
        methods: {
            login: function (event) {
                event.preventDefault();
                var self = this;
                self.loading = true;
                dataService.checkUser(self.identifier, self.password).then(function (data) {
                    self.loading = false;
                    if (data) {
                        self.isLoggedIn = true;
                    } else {
                        self.passwordInvalid = true;
                    }
                }).catch(function (error) {
                    console.error("An error occurred");
                    self.loading = false;
                    self.passwordInvalid = true;
                });
            },
            changeDropboxLink: function (event) {
                event.preventDefault();
                var self = this;
                self.loading = true;
                self.newLinkFail = false;

                dataService.changeDropboxUri(self.identifier, self.confirmDropboxLinkPassword, self.newLink).then(function() {
                    alert("The link has been successfully saved.");
                    self.loading = false;
                }).catch(function (error) {
                    console.error("An error occurred.");
                    console.error(error);
                    self.loading = false;
                    self.newLinkFail = true;
                });
            },
            changePassword: function (event) {
                event.preventDefault();
                var self = this;
                self.loading = true;
                self.newPasswordFail = false;

                dataService.changePassword(self.identifier, self.confirmPasswordChangePassword, self.newPassword).then(function() {
                    alert("The password has been successfully changed.");
                    self.loading = false;          
                    self.confirmPasswordChangePassword = "";
                    self.newPassword = "";
                    self.repeatNewPassword = "";          
                }).catch(function (error) {
                    console.error("An error occurred.");
                    console.error(error);
                    self.loading = false;
                    self.newPasswordFail = true;                  
                });
            },
            removeLink: function (event) {
                event.preventDefault();
                var self = this;

                if (confirm("Are you sure you want to delete this link?")) {
                    self.loading = true;
                    self.removeLinkFail = false;

                    dataService.unregisterLink(self.identifier, self.confirmDeletionPassword).then(function () {
                        alert("The link was successfully deleted.");
                        self.$router.push('/new/' + self.identifier);
                    }).catch(function (error) {
                        console.error("An error occurred.");
                        console.error(error);
                        self.loading = false;
                        self.removeLinkFail = true;    
                    });
                }
            }
        }
    }

</script>