<template>
    <div>
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 form-group" v-if="success">
                <h2>Your link was successfully created!</h2>
                <p>You can copy your link below.</p>
                <div class="form-group">
                    <input type="text" class="form-control" readonly :value="fullLink">
                </div>
            </div>
            <div class="col-lg-6 col-lg-push-3 form-group" v-if="!success">
                <form>
                    <div class="form-group">
                        <label>Identifier</label>
                        <input type="text" class="form-control" v-model="identifier">
                        <small class="form-text text-muted">Full link: {{ fullLink }}</small>
                        <span class="error" v-if="linkTaken">The link is already taken.</span>
                        <span class="error" v-if="!isLinkValid">The link must be longer than 3 characters and can contain alphanumerical characters only.</span>
                    </div>
                    <div class="form-group">
                        <label>Dropbox File Share Url</label>
                        <input type="text" class="form-control" v-model="dropBoxUrl">
                        <small class="form-text text-muted">Don't know how to get one? Click <a href="/about" target="_blank">here</a>.</small>
                        <span class="error" v-if="!isDropboxLinkCorrect">The link is incorrect.</span>
                    </div>
                    <div class="form-group">
                        <label>Link password</label>
                        <input type="password" class="form-control" v-model="password">
                        <small class="form-text text-muted">Only people with this password will be able to access the share.</small>
                        <span class="error" v-if="!isLinkPasswordValid">The password must be longer than 3 characters.</span>
                    </div>
                    <div class="form-group">
                        <label>Repeat link password</label>
                        <input type="password" class="form-control" v-model="repeatPassword">
                        <span class="error" v-if="!doesPasswordsMatch">Both passwords must match.</span>
                    </div>
                    <div class="form-group">
                        <label>Management password</label>
                        <input type="password" class="form-control" v-model="managementPassword">
                        <small class="form-text text-muted">You will need this password to delete or modify the link.</small>
                        <span class="error" v-if="!isManagementPasswordValid">The password must be longer than 6 characters.</span>
                    </div>
                    <div class="form-group">
                        <label>Repeat management password</label>
                        <input type="password" class="form-control" v-model="repeatManagementPassword">
                        <span class="error" v-if="!doesManagementPasswordsMatch">Both passwords must match.</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control" v-on:click="submit" :disabled="loading">Create a link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'new',
        props: {
            'link': {
                default: "",
                type: String
            }
        },
        computed: {
            fullLink: function () {
                return location.protocol + "//" + location.host + "/" + this.identifier;
            },
            isDropboxLinkCorrect: function () {
                return !this.submitted || this.dropBoxUrl.toLowerCase().indexOf("dropbox.com") >= 0;
            },
            isLinkValid: function () {
                return !this.submitted || this.identifier.length >= 3;
            },
            isLinkPasswordValid: function () {
                return !this.submitted || this.password.length >= 3;
            },
            isManagementPasswordValid: function () {
                return !this.submitted || this.managementPassword.length >= 6;
            },
            doesPasswordsMatch: function () {
                return !this.submitted || this.password === this.repeatPassword;
            },
            doesManagementPasswordsMatch: function () {
                return !this.submitted || this.managementPassword === this.repeatManagementPassword;
            },
            isFormValid: function () {
                return !this.linkTaken && this.isDropboxLinkCorrect && this.isLinkValid && this.isLinkPasswordValid && this.isManagementPasswordValid &&
                    this.doesPasswordsMatch && this.doesManagementPasswordsMatch;
            }
        },
        created: function () {
            this.identifier = this.link;
        },
        data: function () {
            return {
                identifier: "",
                password: "",
                repeatPassword: "",
                managementPassword: "",
                repeatManagementPassword: "",
                dropBoxUrl: "",
                linkTaken: false,
                linkIncorrect: false,
                passwordsDontMatch: false,
                managementPasswordsDontMatch: false,
                incorrectCharacters: false,
                loading: false,
                submitted: false,
                success: false
            }
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var self = this;
                self.loading = true;
                self.submitted = true;
                self.linkTaken = false;

                dataService.checkLink(this.identifier).then(function (data) {
                    if (data) {
                        self.linkTaken = true;
                        self.loading = false;
                    } else {
                        if (self.isFormValid) {
                            self.addNewLink();
                        } else {
                            self.loading = false;
                        }
                    }
                }).catch(function (error) {
                    self.loading = false;
                    self.linkTaken = true;
                    console.error("An error occurred.");
                    console.error(error);
                });
            },
            addNewLink: function () {
                var self = this;

                dataService.registerLink(self.identifier, self.dropBoxUrl, self.password, self.managementPassword).then(function() {
                    self.success = true;
                }).catch(function(error) {
                    self.loading = false;
                    self.linkTaken = true;
                    console.error("An error occurred.");
                    console.error(error);
                });
            }
        }
    }

</script>