    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    ol.getting-started {
        font-size: 18pt;
    }

    ol.getting-started li {
        display: list-item;
    }

    div.password-request {
        text-align: center;
    }

    span.error {
        display: block;
        color: red;
        text-align: center;
    }

    .form-control {
        margin-bottom: 5px;
    }

    .modal-dialog {
        width: 1050px;
    }